<!doctype html>
<head>

    <meta charset="utf-8">

    <title>Paulwithap's ROT 13 Converter</title>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/templates/css/tagifystyle.css">

</head>

<body>

    <header>

    </header>

    <div class="super-container">

        <div class="container">

            <div class="sixteen columns">
                <div class="row logo">
                    <h1>ROT 13 Converter</h1>
                </div><!-- /.row logo -->

                        <div class="round-box">

                            <form id="tagify-form" method="post">

                                <h4>Enter some text to convert</h4>
                                <textarea name="text">{{text}}</textarea>
                                <input type="submit" value="ROT 13 it!">

                            </form><!-- /#tagify-form -->

                        </div><!-- /.round-box -->


            </div><!-- /.sixteen columns -->

        </div><!-- /.container -->

    </div><!-- /.super-container -->

    <footer>

    </footer>

</body>

</html>